#reachOut {
  height: 100vh;
}

.reachOut__container {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  @media (max-width: 800px) {
    justify-content: center;
    padding: 10px;
  }

  .reachOut__heading {
    font-size: 12vw;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 700;
    white-space: nowrap;
    text-indent: -1vw;
    letter-spacing: -0.1vw;

    @media (max-width: 800px) {
      display: none;
    }
  }

  .reachOut__info {
    width: 100%;
    height: 45vh;
    background-color: var(--dark-gray);
    color: var(--light-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

    .details {
      font-size: 4vw;
      line-height: 1.1;
      font-weight: 800;
      text-transform: uppercase;
      text-decoration: underline;
      text-align: center;
      position: relative;
      z-index: 10;
      transition: all 0.3s;
      cursor: pointer;

      @media (max-width: 800px) {
        font-size: 28px;
        padding: 0 20px;
        word-break: break-word;
      }
    }
  }

  .reachOut__divider {
    width: 100%;

    .divider__line {
      display: block;
      width: 100%;
      height: 1px;
      background-color: var(--dark-gray);
      margin-bottom: 1vw;

      &:nth-child(1) {
        height: 30px;
      }
      &:nth-child(2) {
        height: 20px;
      }
      &:nth-child(3) {
        height: 15px;
      }
      &:nth-child(4) {
        height: 10px;
      }
      &:nth-child(5) {
        height: 6px;
      }
      &:nth-child(6) {
        height: 3px;
      }
      &:nth-child(7) {
        height: 2px;
      }
    }

    &.top {
      .divider__line {
        margin-top: 1vw;
        margin-bottom: 0;
        display: none;

        @media (max-width: 800px) {
          display: block;
        }

        &:nth-child(1) {
          height: 2px;
        }
        &:nth-child(2) {
          height: 3px;
        }
        &:nth-child(3) {
          height: 6px;
        }
        &:nth-child(4) {
          height: 10px;
        }
        &:nth-child(5) {
          height: 15px;
        }
        &:nth-child(6) {
          height: 20px;
        }
        &:nth-child(7) {
          height: 30px;
        }
      }
    }
  }
}
