#intro {
  padding-top: 100px;  // 헤더 크기에 맞게 여백을 설정 (조정 가능)
  text-align: center;   // 모든 텍스트 중앙 정렬
}

p {
  font-size: 1.2em; // 기본 폰트 크기
  line-height: 1.5; // 줄 간격
  margin: 10px 0; // 마진
}

strong {
  display: block;
  font-size: 1.4em; // 강조 텍스트 크기
  margin: 20px 0; // 마진
  color: #333; // 텍스트 색상
}

h3 {
  font-size: 1.5em; // 키워드 제목 크기
  margin-top: 15px; // 마진
  color: #007bff; // 제목 색상
}

span {
  display: block;
  font-size: 1em; // 서브 텍스트 크기
  color: #666; // 서브 텍스트 색상
  margin-top: 5px; // 마진
}

.keyword-item {
  margin: 20px 0; // 키워드 간격
  text-align: center; // 중앙 정렬

  .keyword-icon {
    font-size: 2em; // 아이콘 크기
    color: #007bff; // 아이콘 색상
    margin-bottom: 10px; // 아이콘과 텍스트 간격
  }
}
