// _portfolio.scss

#portfolio {
  text-align: center; /* 텍스트 중앙 정렬 */
  padding-top: 100px; // 헤더 크기에 맞게 여백 설정 (조정 가능)
}

.project {
  margin-bottom: 40px; // 각 프로젝트 간의 간격
  position: relative; // 자식 요소의 절대 위치 설정을 위한 상대 위치
}

.project-image {
  max-width: 700px; // 최대 너비를 700px로 설정 (필요에 따라 조정 가능)
  width: 100%; // 부모 요소에 맞게 너비 조정
  height: auto; // 비율 유지
  margin-top: 20px; // 이미지 위 여백
  margin-bottom: 20px; // 이미지 아래 여백
  cursor: pointer; // 클릭 가능하게 커서 변경
}
// _portfolio.scss


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* 모달이 다른 요소 위에 표시되도록 */
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal button:hover {
  background-color: #0056b3;
}

